 body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(135deg, #1e1e2f, #2b2b45);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 20px;
    }

    #title{
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 10px;
        text-align: center;
    }
    #desc {
        color: white;
        font-weight: 100;
         font-family: 'Courier New', Courier, monospace;
         margin-bottom: 40px;
    }

    /* ARENA */
    #arena {
        width: 400px;
        height: 400px;
        border: 3px solid white;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    /* BACKGROUND */
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    /* SPRITE */
    #sprite {
        width: 60px;
        height: suto;
        position: absolute;
        /* left: 50%;
        top: 50%; */
        /* transform: translate(-50%, -50%); */
        z-index: 1;
        /* transition: transform 0.2s ease; */
    }

    /* CONTAINER TOMBOL */
    #button {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    /* STYLE TOMBOL UMUM */
    button {
        padding: 12px 22px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    /* PLAY BUTTON */
    #button button {
        background: linear-gradient(45deg, #00c853, #64dd17);
        color: white;
    }

    #button button:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }

    /* RESET BUTTON */
    #buttonReset {
        background: linear-gradient(45deg, #d50000, #ff5252);
        color: white;
    }

    #buttonReset:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }